{
    "server_connection": {
        "host": "192.168.1.100",
        "port": 22,
        "username": "user1",
        "password": "pass1234",
        "keep_alive": 60
    },
    "topics": [
        {
            "name": "temperature",
            "qos": 1
        },
        {
            "name": "humidity",
            "qos": 1
        }
    ],
    "db": {
        "host": "localhost",
        "port": "5432",
        "db_name": "sensor_data",
        "username": "dbuser",
        "password": "dbpass"
    }
}